/xrun.iml
/app/app.iml
/app/build
/build/
.DS_Store
/buildSrc/build
/buildSrc/buildSrc.iml
/buildSrc/.gradle
/.gradle
/.idea
*.iml
app/app.iml
app/.idea/
oppo-cdo/build-res/proguard/release/mapping.txt
app/gradle/wrapper/gradle-wrapper.jar
app/gradle/wrapper/gradle-wrapper.properties
app/gradlew
app/gradlew.bat
/captures
apkName.txt
app/apkName.txt
local.properties
autoSign.properties
app/bin/
output.txt
githash.txt
/replugin-host-lib/build/
